{% extends 'base.html.twig' %}
    {% block title %}Score ...{% endblock %}
    
    {% block extrajavascripts %}
    {% endblock %}

    {% block body %}

        <div class="container score">
                {% for challenge in challenges  %}
                <div class="col-sm-5 col-md-3 boxes">
                <div class="thumbnail">
                <div class="caption">
                <h2 class="text-center">{{ challenge.name }}</h2>
                <div class="text-center" style="margin-bottom:10px;"><a href="{{path('vote_new', { 'id': challenge.id })}}"><button id="{{ challenge.id }}" type="button" class="btn btn-danger btn-md sendCoords" data-coords="{{ challenge.coords }}">Leave a note !</button>
                </a></div>
                <div class="text-center"><a href="{{path('score', { 'id': challenge.id })}}">
                <button id="{{ challenge.id }}" type="button" class="btn btn-primary btn-md sendCoords" data-coords="{{ challenge.coords }}">Go to this scoreboard !</button>
                </a></div>
                </div>
                </div>
                </div>
                {% endfor %}
        </div>

    {% endblock %}