{% extends 'base.html.twig' %}
    {% block title %}Score challenge {{ scores.0.idChallenge.name }}{% endblock %}
    
    {% block extrajavascripts %}
    {% endblock %}

    {% block body %}
{#         <div class="container score">
            <h2>{{ scores.0.idChallenge.name }}</h2>
            <a href="{{path('vote_new', { 'id': id })}}"><button>Leave a note on this challenge</button></a>
            <ul class="list-group">
                {% for score in scores %}
                    <li class="list-group-item"><span class="badge">{{ score.score }}</span> {{ score.idUser.username }}'s score : </li>
                {% endfor %}
            </ul>
        </div> #}

        <div class="container score">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Reports for {{ scores.0.idChallenge.name }}</h4></div>
                <div class="panel-body">
                    {% for score in scores %}
                        {{ score.idUser.username }}
                        {% set pourcentage = score.score * 100 / 50000 %}
                        {% if pourcentage <= 15 %}
                            <div class="progress">
                              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow={{ score.score }} aria-valuemin="0" aria-valuemax="50000" style={{ "width:"~ pourcentage ~"%" }}>
                                {{ score.score }}
                              </div>
                            </div>
                        {% elseif pourcentage <= 40 %}
                            <div class="progress">
                              <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow={{ score.score }} aria-valuemin="0" aria-valuemax="50000" style={{ "width:"~ pourcentage ~"%" }}>
                                {{ score.score }}
                              </div>
                            </div>                        
                        {% else %}
                            <div class="progress">
                              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow={{ score.score }} aria-valuemin="0" aria-valuemax="50000" style={{ "width:"~ pourcentage ~"%" }}>
                                {{ score.score }}
                              </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div><!--/panel-body-->
            </div><!--/panel-->
        </div>

    {% endblock %}

