{% extends 'base.html.twig' %}
    {% block title %}Score challenge {{ scores.0.idChallenge.name }}{% endblock %}
    
    {% block extrajavascripts %}
    {% endblock %}

    {% block body %}
        <div class="container score">
            <h2>{{ scores.0.idChallenge.name }}</h2>
            <a href="{{path('vote_new', { 'id': id })}}"><button>Leave a note on this challenge</button></a>
            <ul class="list-group">
                {% for score in scores %}
                    <li class="list-group-item"><span class="badge">{{ score.score }}</span> {{ score.idUser.username }}'s score : </li>
                {% endfor %}
            </ul>
        </div>

    {% endblock %}

